@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --tmdbDarkBlue: 3,37,65;
}

*{
    font-family: 'Roboto', sans-serif;
}
section.home {
    background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/kSNojkWwSZWsYv0Xj1gcq88okzY.jpg');
    height: 420px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.trending {
    background-position: 50% 200px;
    background-repeat: no-repeat;
}
.list-wrapper, .list-wrapper1 {

    overflow: hidden;
}

.simple-pagination ul, .simple-pagination1 ul {

    padding: 0;
    list-style: none;
}

.simple-pagination li, .simple-pagination1 li {
    display: inline-block;
    margin-right: 5px;
}

.simple-pagination li a, .simple-pagination1 li a{
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
}

.simple-pagination .current, .simple-pagination1 .current1  {
    color: #FFF;
    background-color: #dc3545;
    border-color: #dc3545;
}

.simple-pagination .prev.current, .simple-pagination1 .prev1.current1
.simple-pagination .next.current, .simple-pagination1 .next1.current1 {
    background: #dc3545;
}

#pagination-container ul {
    display: flex;
    overflow: scroll;
}
.card-body .title:hover{
    color: #0d6efd !important;
}

.card-no-wrap{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}


.profile-64-img{
    width: 64px;
    height: 64px;
}

.c-hover:hover{
    color: #0d6efd !important;
}

.media-video-background{
    height: 300px;
    width: 533px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.media-videos-background{
    height: 194px;
    width: 350px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


[class*=" imghvr-"] figcaption,
[class^=imghvr-] figcaption {
    transform: scale(1.5);
    background-color: #121212bb !important;
    padding: 0px !important;
    position: absolute !important;
    color: #fff !important;
}

[class*=" imghvr-"] figcaption small,
[class^=imghvr-] figcaption small {
    padding: 0px !important;
    position: absolute !important;
    top: unset !important;
    bottom: 0 !important;
    left: unset !important;
    right: 0 !important;
    color: #fff !important;
}
/*percentage circle start*/

.single-chart {
    width: 58px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: #081c22;
    stroke: #423d0f;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #20c997;
}

.circular-chart.red .circle {
    stroke: #dc3545;
}

.percentage {
    fill: #fff;
    font-family: sans-serif;
    font-size: 0.65rem;
    font-weight: bolder;
    text-anchor: middle;
}

/*percentage circle end*/